
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
  
  <style>
   
   #police {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #police td, #police th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #police tr:nth-child(even){background-color: #f2f2f2;}
  
  #police tr:hover {background-color: #ddd;}
  
  #police th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #055615;
    color: white;
  }

    
header {
	background-color: rgb(4, 4, 77);
	color: #fff;
	padding: 20px;
	text-align: center;
}

nav {
	background-color: #eee;
	padding: 10px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
}

nav li {
	margin-right: 10px;
}

nav a {
	color: rgb(4, 4, 77);
	text-decoration: none;
	padding: 5px;
}

nav a:hover {
	background-color: rgb(4, 4, 77);
	color: #fff;
}
  
.carousel {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 50px;
}

.step {
	flex-basis: 300px;
	background-color: #eee;
	padding: 20px;
	margin: 10px;
	text-align: center;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

}
  </style>


<title>Document</title>  

<script src="https://kit.fontawesome.com/b67233a3e4.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="CSS/depts.css">
<style>
  input[name=cid ]{
    pointer-events: none;
    border: none;
  }

  
</style>
<script>
  function myFunction() {
   let name= document.getElementById("email").innerHTML;
   alert("Sent Notification successfully to"+name)
  }
</script>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script> 

</head> -->


    
  <!-- <body>
    <header>
        <h1>Public Grievance Portal</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/complog.html">Sign In</a></li>
           <li><a href="/login.html">SignUp</a></li>
        </ul>
    </nav>  
   <div class="box" id="heading">
             <h1 style="text-align: center;">Complaints</h1>
   </div>

   <canvas id="pieChart" width="300" height="300" style="margin-left: 600px;margin-top: 5px; margin-bottom: 10px;"></canvas>
   <div>
    
    <div style="margin-left: 1200px; margin-top: -220px;">
      
      <h3><i class="fa-solid fa-square-full" style="color: #f7b6f1;"></i>:Inprogress</h3>
      <h3><i class="fa-solid fa-square-full" style="color: #f9fb8e;"></i>:Will be started soon</h3>
      <h3><i class="fa-solid fa-square-full" style="color: #b7fbbf;"></i>:Solved</h3>
      <h3><i class="fa-solid fa-square-full" style="color: #a8dbf5;"></i>:New</h3>
    </div>
  </div>
    

   
    </div>
   
   <div class="box" style="margin-top: 50px;">
   
    <table width="100%" id="police">

      <thead>
        <th>Complaint Id</th>
        <th>p_id</th>
        <th>citizen_name</th>
      
        <th>complaint</th>
        <th>Assigned Officer</th>
        
        <th>Status</th>
      
        <th>View Detailed info</th>
        
      </thead>
    <% for(var i=0;i<sampleData.length;i++){ %>
        <div class="item">
            
              <tbody >
                <tr>
                
                    <form action="/polstatus.html" method="post">
                
                <td><input name="cid"  placeholder="com_id" size="2"  value= " <%= sampleData[i].c_id %>"></td>
                <td><%= sampleData[i].public_id %></td>
                <td><%= sampleData[i].public_name %></td>
                
                <td><%= sampleData[i].complaint %></td>
           
                <td><%= aid %></td>
               
                
                <td><%= sampleData[i].status %></td>
                
               
                <td><button type="submit">View</button></td>
                
              </form>
              </tr>
              </tbody>
            
        </div>
        <% }  %>

      </table>
       

    </div>


    
  <script>
    var data = <%= JSON.stringify(a) %>; // Get data from Node.js and parse as JavaScript array

    // Set up array of static colors
    var colors = ["rgb(183,251,191)", "rgb(249,251,142)", "rgb(168,219,245)", "rgb(247,182,241)"];

    // Draw chart with data
    drawChart(data);

    function drawChart(data) {
      // Get canvas element and context
      var canvas = document.getElementById("pieChart");
      var ctx = canvas.getContext("2d");

      // Set up variables for chart
      var centerX = canvas.width / 2;
      var centerY = canvas.height / 2;
      var radius = Math.min(centerX, centerY) - 10;
      var total = 0;
      var angles = [];

      // Calculate total of all input data
      for (var i = 0; i < data.length; i++) {
        total += parseFloat(data[i]);
      }

      // Calculate angles for each data point
      for (var i = 0; i < data.length; i++) {
        var angle = (data[i] / total) * 2 * Math.PI;
        angles.push(angle);
      }

      // Draw each segment of the pie chart
      var startAngle = 0;
      for (var i = 0; i < angles.length; i++) {
        var endAngle = startAngle + angles[i];

        ctx.beginPath();
        ctx.moveTo(centerX, centerY);
        ctx.arc(centerX, centerY, radius, startAngle, endAngle);
        ctx.fillStyle = colors[i];
        ctx.fill();

        startAngle = endAngle;
      }
    }
  </script>

		
		
   
   
   
   
    </body> -->
  

    
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
 
  <style>
   
   #police {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #police td, #police th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #police tr:nth-child(even){background-color: #f2f2f2;}
  
  #police tr:hover {background-color: #ddd;}
  
  #police th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #055615;
    color: white;
  }

    
header {
	background-color: rgb(4, 4, 77);
	color: #fff;
	padding: 20px;
	text-align: center;
}

nav {
	background-color: #eee;
	padding: 10px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
}

nav li {
	margin-right: 10px;
}

nav a {
	color: rgb(4, 4, 77);
	text-decoration: none;
	padding: 5px;
}

nav a:hover {
	background-color: rgb(4, 4, 77);
	color: #fff;
}
  
.carousel {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 50px;
}

.step {
	flex-basis: 300px;
	background-color: #eee;
	padding: 20px;
	margin: 10px;
	text-align: center;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

}
  </style>


<title>Document</title>  

<script src="https://kit.fontawesome.com/b67233a3e4.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="CSS/depts.css">
<style>
  input[name=cid ]{
    pointer-events: none;
    border: none;
  }

  
</style>
<script>
  function myFunction() {
   let name= document.getElementById("email").innerHTML;
   alert("Sent Notification successfully to"+name)
  }
</script>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script> 

</head> -->


    
  <!-- <body>
    <header>
        <h1>Public Grievance Portal</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/complog.html">Sign In</a></li>
           <li><a href="/login.html">SignUp</a></li>
        </ul>
    </nav>  
   <div class="box" id="heading">
             <h1 style="text-align: center;">Complaints</h1>
   </div>

   <div  style="margin-left: 1200px;">
    <form action="/polsearch" method="post">
    <input type="text" name="asid" placeholder="Search with Id">
   

    <button>Search</button>
  </form>
  </div>
   <canvas id="pieChart" width="300" height="300" style="margin-left: 600px;margin-top: 5px; margin-bottom: 10px;"></canvas>
   <div>
    
    <div style="margin-left: 1200px; margin-top: -220px;">
      
      <h3><i class="fa-solid fa-square-full" style="color: #f7b6f1;"></i>:Inprogress</h3>
      <h3><i class="fa-solid fa-square-full" style="color: #f9fb8e;"></i>:Will be started soon</h3>
      <h3><i class="fa-solid fa-square-full" style="color: #b7fbbf;"></i>:Solved</h3>
      <h3><i class="fa-solid fa-square-full" style="color: #a8dbf5;"></i>:New</h3>
    </div>
  </div>
  
   

    
   
   <div class="box" style="margin-top: 50px;">
   
    <table width="100%" id="police">

      <thead>
        <th>Complaint Id</th>
        <th>p_id</th>
        <th>citizen_name</th>
       
        
        <th>complaint</th>
        <th>Assigned Officer</th>
        
        <th>Status</th>
       
        <th>View Detailed info</th>
        
      </thead>
    <% for(var i=0;i<sampleData.length;i++){ %>
        <div class="item">
            
              <tbody >
                <tr>
                 
                    <form action="/polstatus.html" method="post">
               
                <td><input name="cid"  placeholder="com_id" size="2"  value= " <%= sampleData[i].c_id %>"></td>
                <td><%= sampleData[i].public_id %></td>
                <td><%= sampleData[i].public_name %></td>
               
                <td><%= sampleData[i].complaint %></td>
                <td><%= sampleData[i].asspol_id %></td>
               
                
                <td><%= sampleData[i].status %></td>
                <td><button type="submit">View</button></td>
                
              </form>
              </tr>
              </tbody>
            
        </div>
        <% }  %>

      </table>
       

   </div>

  

  <script>
    var data = <%= JSON.stringify(a) %>; // Get data from Node.js and parse as JavaScript array

    // Set up array of static colors
    var colors = ["rgb(183,251,191)", "rgb(249,251,142)", "rgb(168,219,245)", "rgb(247,182,241)"];

    // Draw chart with data
    drawChart(data);

    function drawChart(data) {
      // Get canvas element and context
      var canvas = document.getElementById("pieChart");
      var ctx = canvas.getContext("2d");

      // Set up variables for chart
      var centerX = canvas.width / 2;
      var centerY = canvas.height / 2;
      var radius = Math.min(centerX, centerY) - 10;
      var total = 0;
      var angles = [];

      // Calculate total of all input data
      for (var i = 0; i < data.length; i++) {
        total += parseFloat(data[i]);
      }

      // Calculate angles for each data point
      for (var i = 0; i < data.length; i++) {
        var angle = (data[i] / total) * 2 * Math.PI;
        angles.push(angle);
      }

      // Draw each segment of the pie chart
      var startAngle = 0;
      for (var i = 0; i < angles.length; i++) {
        var endAngle = startAngle + angles[i];

        ctx.beginPath();
        ctx.moveTo(centerX, centerY);
        ctx.arc(centerX, centerY, radius, startAngle, endAngle);
        ctx.fillStyle = colors[i];
        ctx.fill();

        startAngle = endAngle;
      }
    }
  </script>

		
   
   
   
   
    </body>
   -->







   <!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pie Chart Example</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <style>
    nav {
	background-color: #eee;
	padding: 10px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
}

nav li {
	margin-right: 10px;
}

nav a {
	color: rgb(4, 4, 77);
	text-decoration: none;
	padding: 5px;
}

nav a:hover {
	background-color: rgb(4, 4, 77);
	color: #fff;
}

header {
	background-color: rgb(4, 4, 77);
	color: #fff;
	padding: 20px;
	text-align: center;
}
canvas#myPieChart {
  width: 1200px;
  height: 10000px;
  display: block;
  position: fixed;
}


  </style>
</head>
<body>
     <header >
        <h1>Public Grievance Portal</h1><br>
    </header> 

    <nav>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/complog.html">Sign In</a></li>
           <li><a href="/login.html">SignUp</a></li>
        </ul>
    </nav> 
  <canvas id="myPieChart"></canvas>
  <script>
    const statusData = <%= JSON.stringify(a) %>;

    const pieChart = new Chart('myPieChart', {
      type: 'pie',
      data: {
        labels: ['Solved', 'Will Be Started Soon', 'Null', 'In Progress'],
        datasets: [{
          data: statusData,
          backgroundColor: ['#4CAF50', '#2196F3', '#9E9E9E', '#FFC107']
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        tooltips: {
          callbacks: {
            label: (tooltipItem, data) => {
              const label = data.labels[tooltipItem.index];
              const value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
              return `${label}: ${value}`;
            }
          }
        }
      }
    });
  </script>
</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pie Chart Example</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <style>
    canvas {
      max-width: 100%;
      margin: 0 auto;
    
    }

    nav {
	background-color: #eee;
	padding: 10px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
}

nav li {
	margin-right: 10px;
}

nav a {
	color: rgb(4, 4, 77);
	text-decoration: none;
	padding: 5px;
}

nav a:hover {
	background-color: rgb(4, 4, 77);
	color: #fff;
}

header {
	background-color: rgb(4, 4, 77);
	color: #fff;
	padding: 20px;
	text-align: center;
}
 
#police {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #police td, #police th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #police tr:nth-child(even){background-color: #f2f2f2;}
  
  #police tr:hover {background-color: #ddd;}
  
  #police th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #055615;
    color: white;
}


  </style>
</head>
<body>
    <header >
        <h1>Public Grievance Portal</h1><br>
    </header> 

    <nav>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/complog.html">Sign In</a></li>
           <li><a href="/login.html">SignUp</a></li>
        </ul>
    </nav> 
  <div style="width: 100%;margin-top: 50px;">
    <canvas id="myPieChart"></canvas>
  </div>

  
  <script>
    const statusData = <%= JSON.stringify(a) %>;
    const statusLabels = ['Solved', 'Will Be Started Soon', 'New', 'In Progress'];
    const colors = ['#4CAF50', '#2196F3', '#9E9E9E', '#FFC107'];
    
    const pieChart = new Chart('myPieChart', {
      type: 'pie',
      data: {
        labels: statusLabels,
        datasets: [{
          data: statusData,
          backgroundColor: colors,
        }]
      },
      options: {
        responsive: true,
        legend: {
          display: false,
        },
        tooltips: {
          callbacks: {
            label: function(tooltipItem, data) {
              const label = data.labels[tooltipItem.index];
              const value = data.datasets[0].data[tooltipItem.index];
              return label + ': ' + value;
            }
          }
        },
        plugins: {
          datalabels: {
            display: true,
            color: '#fff',
            backgroundColor: function(context) {
              return colors[context.dataIndex];
            },
            borderRadius: 3,
            font: {
              weight: 'bold'
            },
            formatter: function(value, context) {
              const label = statusLabels[context.dataIndex];
              return label + ': ' + value;
            },
          }
        }
      }
    });
  </script>

<div class="box" style="margin-top: 50px;">
   
  <table width="100%" id="police">

    <thead>
      <th>Complaint Id</th>
      <th>p_id</th>
      <th>citizen_name</th>
     
      
      <th>complaint</th>
      <th>Assigned Officer</th>
      
      <th>Status</th>
     
      <th>View Detailed info</th>
      
    </thead>
  <% for(var i=0;i<sampleData.length;i++){ %>
      <div class="item">
          
            <tbody >
              <tr>
               
                  <form action="/polstatus.html" method="post">
             
              <td><input name="cid"  placeholder="com_id" size="2"  value= " <%= sampleData[i].c_id %>"></td>
              <td><%= sampleData[i].public_id %></td>
              <td><%= sampleData[i].public_name %></td>
             
              <td><%= sampleData[i].complaint %></td>
              <td><%= sampleData[i].asspol_id %></td>
             
              
              <td><%= sampleData[i].status %></td>
              <td><button type="submit">View</button></td>
              
            </form>
            </tr>
            </tbody>
          
      </div>
      <% }  %>

    </table>
     

 </div>

  


  

</body>
</html>


